RABBITMQ_DEFAULT_USER=minirag_user
RABBITMQ_DEFAULT_PASS=minirag_password
RABBITMQ_DEFAULT_VHOST=minirag_vhost

RABBITMQ_MANAGEMENT_ENABLED=true

RABBITMQ_AUTH_BACKEND=rabbit_auth_backend_internal

RABBITMQ_DISK_FREE_LIMIT=2000000000